@model IEnumerable<Arsenal.MvcWeb.Models.Casino.BetDto>
@{
    ViewBag.Title = "我的中奖查询";
}
<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            我的中奖查询
            <span class="ui-li-count">@Model.Count()</span>
        </li>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var m in Model)
            {
                <li>
                    <a href="#" data-role="button" data-icon="@m.BetIconInfo" data-iconpos="left">
                        <h3>
                            @m.TeamHome.TeamDisplayName
                            <span>vs</span>
                            @m.TeamAway.TeamDisplayName
                        </h3>
                        <p>投注内容：@m.BetDetailInfo</p>
                        <p>投注时间：@m.BetTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        <p class="ui-li-aside">@m.UserName</p>
                        @if (m.IsWin.HasValue && m.IsWin.Value)
                        {
                            <span class="ui-li-count">+@m.EarningDesc</span>
                        }
                    </a>
                </li>
            }
        }
    </ul>
</div>
