@model IEnumerable<Arsenal.MvcWeb.Models.CasinoBet>

@{
    ViewBag.Title = "Bonus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bonus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CasinoItemGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BetRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Earning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarningDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasinoItemGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BetRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Earning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarningDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
