@model  Arsenal.MvcWeb.Models.Casino.MyBetDto
@{
    ViewBag.Title = "我的中奖查询";
}
@if (Model.Criteria.MaxPage > 0)
{
    @section Footer {
        <div data-role="footer" data-position="fixed" class="ui-btn pager">
            @Html.Partial("_PagerPartial", Model.Criteria)
        </div>
    }
}
<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            我的中奖查询
            <span class="ui-li-count">@Model.Criteria.TotalCount</span>
        </li>
        @if (Model != null && Model.Data.Count() > 0)
        {
            foreach (var b in Model.Data)
            {
                <li>
                    <a href="#" data-role="button" data-icon="@b.BetIconInfo" data-iconpos="left">
                        <h3>
                            @b.TeamHome.TeamDisplayName
                            <span>vs</span>
                            @b.TeamAway.TeamDisplayName
                        </h3>
                        <p>投注内容：@b.BetDetailInfo</p>
                        <p>投注时间：@b.BetTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        @if (b.IsWin.HasValue && b.IsWin.Value)
                        {
                            <span class="ui-li-count">+@b.EarningDesc</span>
                        }
                    </a>
                </li>
            }
        }
    </ul>
</div>
