@model Arsenal.Mobile.Models.Club.SignInDailyDto
@{
    ViewBag.Title = "每日签到栏";
}

@section Header {
    <div data-role="header">
        <h1 style="overflow: visible">
            @if (Model.ContinuousSignInDays > 0)
            {
                <span>这是您第<em>@Model.ContinuousSignInDays</em>天连续签到</span>
            }
            else
            {
                @DateTime.Now.ToString("yyyy年MM月dd日")
            }
        </h1>

    </div>
}

@section Footer {
    <div data-role="footer" data-position="fixed">
        @Html.ActionLink("返回首页", "Index", "Home", null, new { data_role = "button", data_icon = "grid" })
    </div>
}

<div data-role="content">
    @if (Model.ContinuousSignInDays > 0)
    {
        <ul data-role="listview">
            <li class="ui-field-contain">当前日期<span class="ui-li-count">@DateTime.Now.ToString("yyyy年MM月dd日")</span></li>
            <li class="ui-field-contain">原持有现金<span class="ui-li-count">@Model.CurrentCash.ToString("N0")</span></li>
            <li class="ui-field-contain">签到奖金<span class="ui-li-count">+@Model.Bonus.ToString("N0")</span></li>
            <li class="ui-field-contain">当前现金<span class="ui-li-count">@Model.MyCash.ToString("N0")</span></li>
        </ul>
    }
    else if (Model.ContinuousSignInDays == 0)
    {
        <h2 style="text-align: center">您已经领取过今天的签到奖励</h2>
    }
    else
    {
        <h2>@Model.Tip</h2>
    }
</div>