@model Arsenal.Mobile.Models.AssemblyDto
<h1 style="overflow: visible">
    @Model.Title @Model.FileVersion @Model.Copyright - @DateTime.Now.Year <a href="http://www.beian.miit.gov.cn/" target="_blank">@Model.Description</a>
</h1>
