@using Arsenal.Service.Casino
@model Arsenal.Mobile.Models.Casino.BetDto
<li class="@Model.BetIcon">
    <a href="#">
        @if (Model.ItemType.Equals(CasinoType.SingleChoice) && Model.BetRate.HasValue && Model.BetAmount.HasValue)
        {
            <h3>投注：[@Model.BetResult] [@Model.BetRate.Value.ToString("f2")] @Model.BetAmount.Value.ToString("N0")</h3>
        }
        else if (Model.ItemType.Equals(CasinoType.MatchResult) && Model.BetResultHome.HasValue && Model.BetResultAway.HasValue)
        {
            <h3>投注：[Home] @Model.BetResultHome.Value : @Model.BetResultAway.Value [Away]</h3>
        }
        <p>@Model.BetTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
        <p class="ui-li-aside">@Model.UserName</p>
        @if (Model.IsWin.HasValue && Model.IsWin.Value)
        {
            if (Model.ItemType.Equals(CasinoType.SingleChoice))
            {
                <span class="ui-li-count">+@Model.EarningDesc</span>
            }
            else if (Model.ItemType.Equals(CasinoType.MatchResult))
            {
                <span class="ui-li-count">@Model.EarningDesc</span>
            }
        }
    </a>
    @if (!Model.IsWin.HasValue)
    {
        if (Model.CloseTime >= DateTime.Now)
        {
            @Html.ActionLink("退注", "ReturnBet", "Casino", new { id = Model.ID },
                new { data_icon = "back", data_iconpos = "notext", data_rel = "dialog", data_transition = "pop" })
        }
    }
    else
    {
        <a href="#" data-icon="@Model.BetIcon"></a>
    }
</li>