@using Arsenal.Service.Casino
@model Arsenal.Mobile.Models.Casino.BetDto
<li class="@Model.BetIcon">
    <a href="#">
        <img src="@Model.LeagueLogo" alt="@Model.LeagueName" class="league-logo" />
        <h3>
            <img src="@Model.TeamHomeLogo" alt="@Model.TeamHomeName"/>
            @Model.TeamHomeName
            <em>vs</em>
            @Model.TeamAwayName
            <img src="@Model.TeamAwayLogo" alt="@Model.TeamAwayName"/>
        </h3>
        <p>@Model.MatchGuid</p>
        @if (Model.ItemType.Equals(CasinoType.SingleChoice) && Model.BetRate.HasValue && Model.BetAmount.HasValue)
        {
            <p>[@Model.BetResult] [@Model.BetRate.Value.ToString("f2")] @Model.BetAmount.Value.ToString("N0")</p>
        }
        else if (Model.ItemType.Equals(CasinoType.MatchResult) && Model.BetResultHome.HasValue && Model.BetResultAway.HasValue)
        {
            <p>[Home] @Model.BetResultHome.Value : @Model.BetResultAway.Value [Away]</p>
        }
        <p>@Model.BetTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
        @if (Model.IsWin.HasValue && Model.IsWin.Value)
        {
            if (Model.ItemType.Equals(CasinoType.SingleChoice))
            {
                <span class="ui-li-count">+@Model.EarningDesc</span>
            }
            else if (Model.ItemType.Equals(CasinoType.MatchResult))
            {
                <span class="ui-li-count">@Model.EarningDesc</span>
            }
        }
    </a>
    @if (!Model.IsWin.HasValue)
    {
        if (Model.CloseTime >= DateTime.Now)
        {
            @Html.ActionLink("退注", "ReturnBet", "Casino", new { id = Model.ID },
                new { data_icon = "back", data_iconpos = "notext", data_rel = "dialog", data_transition = "pop" })
        }
    }
    else
    {
        <a href="#" data-icon="@Model.BetIcon"></a>
    }
</li>