@model Arsenal.Mobile.Models.Casino.MatchDto

<fieldset data-role="controlgroup" class="match-versus">
    <div class="ui-grid-b">
        <div class="ui-block-a">
            <img src="@Model.TeamHomeLogo" />
            <h2>@Model.TeamHomeName</h2>
        </div>
        <div class="ui-block-b">
            <p>@Model.LeagueName</p>
            @if (Model.ResultHome.HasValue && Model.ResultAway.HasValue)
            {
                <p>
                    <span>@Model.ResultHome.Value</span>
                    <span class="versus">vs</span>
                    <span>@Model.ResultAway.Value</span>
                </p>
            }
            else
            {
                <p><span class="versus">vs</span></p>
            }
            <p>@Model.PlayTime.ToString("yyyy-MM-dd HH:mm")</p>
        </div>
        <div class="ui-block-c">
            <img src="@Model.TeamAwayLogo" />
            <h2>@Model.TeamAwayName</h2>
        </div>
    </div>

    @if (Model.HomeRate > 0 && Model.DrawRate > 0 && Model.AwayRate > 0)
    {
        <div class="ui-grid-b">
            <div class="ui-block-a" style="text-align: center">
                @Model.HomeRate.ToString("f2")
            </div>
            <div class="ui-block-b" style="text-align: center">
                @Model.DrawRate.ToString("f2")
            </div>
            <div class="ui-block-c" style="text-align: center">
                @Model.AwayRate.ToString("f2")
            </div>
        </div>
    }
</fieldset>