@{
    ViewBag.Title = "ArsenalCN 移动版导航";
}
<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            博彩系统（与ACN论坛同步）
            <span class="ui-li-count">Arsenalcn.Casino</span>
        </li>
        <li>@Html.ActionLink("可投注比赛", "Index", "Casino", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("比赛结果查询", "Result", "Casino", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("我的投注记录", "Bet", "Casino", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("我的盈亏记录", "Bonus", "Casino", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li data-role="list-divider">
            球会系统（与ACN论坛同步）
            <span class="ui-li-count">Arsenalcn.Club</span>
        </li>
        <li>@Html.ActionLink("每日签到", "About", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("球星卡", "About", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("视频卡", "Contact", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li data-role="list-divider">
            球迷会服务中心
            <span class="ui-li-count">iArsenal.com</span>
        <li>@Html.ActionLink("会员信息", "About", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("订单查询", "About", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("球衣预订", "Contact", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("主场球票", "Contact", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("官方商品", "Contact", "Home", routeValues: null, htmlAttributes: new { data_transition = "slide" })</li>
    </ul>
</div>