@using Arsenal.Service.Casino
@model Arsenal.MvcWeb.Models.Casino.BetDto
<li>
    <a href="#" data-role="button" data-icon="@Model.BetIcon" data-iconpos="left">
        <h3>
            @Model.TeamHomeName
            <span>vs</span>
            @Model.TeamAwayName
        </h3>
        @if (Model.ItemType.Equals(CasinoType.SingleChoice))
        {
            <p>[@Model.BetResult] [@Model.BetRate.Value.ToString("f2")] @Model.BetAmount.Value.ToString("N0")</p>
        }
        else if (Model.ItemType.Equals(CasinoType.MatchResult))
        {
            <p>[Home] @Model.BetResultHome.Value : @Model.BetResultAway.Value [Away]</p>
        }
        <p>@Model.BetTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
        @if (Model.IsWin.HasValue && Model.IsWin.Value)
        {
            if (Model.ItemType.Equals(CasinoType.SingleChoice))
            {
                <span class="ui-li-count">+@Model.EarningDesc</span>
            }
            else if (Model.ItemType.Equals(CasinoType.MatchResult))
            {
                <span class="ui-li-count">@Model.EarningDesc</span>
            }
        }
    </a>
</li>