@using Arsenal.Service.Casino
@model Arsenal.MvcWeb.Models.Casino.BetDto
<li>
    <a href="#" data-role="button" data-icon="@Model.BetIcon" data-iconpos="left">
        @if (Model.ItemType.Equals(CasinoType.SingleChoice))
        {
            <h3>投注：[@Model.BetResult] [@Model.BetRate.Value.ToString("f2")] @Model.BetAmount.Value.ToString("N0")</h3>
        }
        else if (Model.ItemType.Equals(CasinoType.MatchResult))
        {
            <h3>投注：[Home] @Model.BetResultHome.Value : @Model.BetResultAway.Value [Away]</h3>
        }
        <p>@Model.BetTime.ToString("yyyy-MM-dd HH:mm:ss")</p>
        <p class="ui-li-aside">@Model.UserName</p>
        @if (Model.IsWin.HasValue && Model.IsWin.Value)
        {
            if (Model.ItemType.Equals(CasinoType.SingleChoice))
            {
                <span class="ui-li-count">+@Model.EarningDesc</span>
            }
            else if (Model.ItemType.Equals(CasinoType.MatchResult))
            {
                <span class="ui-li-count">@Model.EarningDesc</span>
            }
        }
    </a>
</li>