<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="http://www.arsenalcn.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/mobileCss", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = true;
        });
    </script>
    @Scripts.Render("~/bundles/jquerymobile")
</head>
<body>
    <div data-role="page" data-theme="a" @TempData["DataUrl"]>

        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else
        {
            <div data-role="header" data-position="fixed">
                <h1>@ViewBag.Title</h1>
                @Html.Partial("_LoginPartial")
            </div>
        }

        @RenderBody()
        @RenderSection("Scripts", required: false)

        @if (IsSectionDefined("Footer"))
        {
            <div data-role="footer" data-position="fixed">
                @RenderSection("Footer")
            </div>
        }
    </div>
</body>
</html>
