@model Arsenal.Mobile.Models.LoginModel

@{
    ViewBag.Title = "Your Account";
}

@section Header {
    <div data-role="header" data-position="fixed">
        @Html.ActionLink("返回", "Index", "Home", null, new {data_icon = "arrow-l", data_rel = "back"})
        <h1>@ViewBag.Title</h1>
    </div>
}

<div data-role="content">
    <p>
        Logged in as <strong>@User.Identity.Name</strong>.
    </p>
    <ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("用户信息", "UserProfile")</li>
        <li>@Html.ActionLink("密码修改", "ChangePassword")</li>
        <li>@Html.ActionLink("退出登录", "LogOff", null, new {data_ajax = "false"})</li>
    </ul>
</div>