@using Arsenal.Mobile.Models
@using Arsenal.Service
@model LoginModel
@{
    ViewBag.Title = "会员管理中心";

    var authorizedUser = UserDto.GetSession();
}

@*If admin, show the refresh buttion*@
@if (authorizedUser.AcnID.HasValue && ConfigGlobal_Arsenal.IsPluginAdmin(authorizedUser.AcnID.Value))
{
    @section Footer {
        <div data-role="footer" data-position="fixed">
            <a style="float: right; margin-right: 5px" data-role="button" data-icon="refresh">更新缓存</a>
        </div>
    }
}

<div data-role="content">
    <p>
        <b>@User.Identity.Name (@authorizedUser.AcnID) @authorizedUser.MemberName - @authorizedUser.LastActivityDate.ToString("yyyy-MM-dd HH:mm")</b>
    </p>
    <ul data-role="listview" data-inset="true">
        @if (authorizedUser.AcnID.HasValue && ConfigGlobal_Arsenal.IsPluginAdmin(authorizedUser.AcnID.Value))
        {
            <li>@Html.ActionLink("微信授权", "LoginWeChat", null, new { data_ajax = "false" })</li>
        }
        <li>@Html.ActionLink("用户信息", "UserProfile")</li>
        <li>@Html.ActionLink("密码修改", "ChangePassword")</li>
        <li>@Html.ActionLink("签到记录", "MyLogSignIn", "Club", null, new { data_transition = "slide" })</li>
        <li>@Html.ActionLink("退出登录", "LogOff", null, new { data_ajax = "false" })</li>
    </ul>
</div>