
@{
    ViewBag.Title = "WeChatAuth";
}

<h2>AccessToken: @ViewBag.AccessToken</h2>
<h2>ExpiresIn: @ViewBag.ExpiresIn</h2>
<h2>RefreshToken: @ViewBag.RefreshToken</h2>
<h2>OpenId: @ViewBag.OpenId</h2>
<h2>Scope: @ViewBag.Scope</h2>
<br />
<br />
<br />
<h2>Browser: @ViewBag.Browser</h2>
<h2>IP: @ViewBag.IP</h2>
<h2>OS: @ViewBag.OS</h2>

