@model Arsenal.Mobile.Models.Casino.DetailDto
@{
    ViewBag.Title = "比赛详情";
}

@section Header {
    <div data-role="header" data-position="fixed">
        @Html.ActionLink("返回", "Result", "Casino", null,
            new { data_icon = "arrow-l", data_rel = "back", data_transition = "reverse", data_iconpos = "notext" })
        <h1>@ViewBag.Title</h1>
    </div>
}

<div data-role="content">
    @Html.Partial("Casino/_MatchInfoPartial", Model.Match)
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            比赛投注中奖查询
            <span class="ui-li-count">@Model.Bets.Count()</span>
        </li>
        @if (Model.Bets != null && Model.Bets.Count() > 0)
        {
            foreach (var m in Model.Bets)
            {
                @Html.Partial("Casino/_BetInfoLitePartial", m)
            }
        }
    </ul>
</div>
