@model Arsenal.Mobile.Models.Casino.MatchResultDto
@{
    ViewBag.Title = "猜比分";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).on("pageinit", function () {
            $("#btnMatchResult").click(function () {
                if ($("#formMatchResult").valid()) {
                    document.forms["formMatchResult"].submit();
                }
            });

            $(".match-versus input").each(function () {
                $(this).focus(function () {
                    $(this).val("");
                });
            });
        });
    </script>
}
@section Header {
    <div data-role="header" data-position="fixed">
        @Html.ActionLink("返回", "GameBet", "Casino", new { id = Model.MatchGuid },
            new { data_icon = "delete", data_transition = "slide", data_direction = "reverse", data_iconpos = "notext" })
        <h1>@Model.Match.LeagueName</h1>
    </div>
}

<div data-role="content">
    @using (Html.BeginForm("MatchResult", "Casino", FormMethod.Post, new { id = "formMatchResult" }))
    {
        <fieldset data-role="controlgroup" class="match-versus">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <img src="@Model.Match.TeamHomeLogo" />
                    <h2>@Model.Match.TeamHomeName</h2>
                </div>
                <div class="ui-block-b">
                    @if (Model.Match.Round.HasValue)
                    {
                        <p>第 @Model.Match.Round.Value 轮</p>
                    }
                    <p>
                        @Html.TextBoxFor(m => m.ResultHome, new { @type = "number"})
                        <span class="versus">vs</span>
                        @Html.TextBoxFor(m => m.ResultAway, new { @type = "number" })
                    </p>
                    <p>@Model.Match.PlayTime.ToString("yyyy-MM-dd HH:mm")</p>
                </div>
                <div class="ui-block-c">
                    <img src="@Model.Match.TeamAwayLogo" />
                    <h2>@Model.Match.TeamAwayName</h2>
                </div>
            </div>
        </fieldset>

        @Html.HiddenFor(m => m.MatchGuid)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        if (Model.Match.PlayTime > DateTime.Now)
        {
            <input type="button" id="btnMatchResult" value="提交投注" data-icon="check" />
        }
    }
</div>