@model Arsenal.Mobile.Models.Casino.MyCouponDto
@{
    ViewBag.Title = "我的投注单";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).on("pageinit", function () {
            $("#btnMyCoupon").click(function () {
                if ($("#formMyCoupon").valid()) {
                    var json = { "Coupons": [] };
                    var $coupons = $(".match-versus p.coupon");

                    if ($coupons.length > 0) {
                        $.each($coupons, function (i, entry) {
                            var id = $(entry).attr("id");
                            var home = $(entry).find("input:first").val();
                            var away = $(entry).find("input:last").val();

                            if (id !== "" && home >= 0 && away >= 0) {
                                var coupon = {
                                    "MatchGuid": id,
                                    "BetResultHome": home,
                                    "BetResultAway": away
                                };

                                json.Coupons.push(coupon);
                            }
                        });
                    }

                    if (json.Coupons.length > 0) {
                        $.post("/Casino/MyCoupon", json, function (data) {
                            if (data.result === "success") {
                                window.location.href = window.location.href;
                            }
                        });
                    }
                }
            });

            $(".match-versus input").each(function () {
                $(this).focus(function () {
                    $(this).val("");
                });
            });
        });
    </script>
}

<div data-role="content">
    @using (Html.BeginForm("MyCoupon", "Casino", FormMethod.Post, new { id = "formMyCoupon" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">
                您可投注即将于<em>@Model.CasinoValidDays</em>天内开始的比赛
                <span class="ui-li-count">@Model.Coupons.Count()</span>
            </li>
            @if (Model.IsShowSubmitButton)
            {
                <li>
                    <input type="button" id="btnMyCoupon" value="保存并投注单" data-icon="check" />
                </li>
            }
            @if (Model != null && Model.Coupons.Any())
            {
                foreach (var m in Model.Coupons)
                {
                    <li>
                        <a href="#" data-role="button">
                            <fieldset data-role="controlgroup" class="match-versus">
                                <div class="ui-grid-b">
                                    <div class="ui-block-a">
                                        <img src="@m.TeamHomeLogo" />
                                        <h2>@m.TeamHomeName</h2>
                                    </div>
                                    <div class="ui-block-b">
                                        <p>@m.LeagueName</p>
                                        @if (m.BetResultHome.HasValue && m.BetResultAway.HasValue)
                                        {
                                            <p>
                                                <span>@m.BetResultHome.Value</span>
                                                <span class="versus">vs</span>
                                                <span>@m.BetResultAway.Value</span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="coupon" id="@m.MatchGuid">
                                                <input data-val="true" data-val-number="主队比分必须是数字 - @m.TeamHomeName"
                                                       data-val-range="请正确填写主队比分 - @m.TeamHomeName" data-val-range-max="20" data-val-range-min="0"
                                                       name="ResultHome" type="number" value="" aria-invalid="true" class="input-validation-error" aria-describedby="ResultHome-error">
                                                <span class="versus">vs</span>
                                                <input data-val="true" data-val-number="客队比分必须是数字 - @m.TeamAwayName"
                                                       data-val-range="请正确填写客队比分 - @m.TeamAwayName" data-val-range-max="20" data-val-range-min="0"
                                                       name="ResultAway" type="number" value="" aria-invalid="true" class="input-validation-error" aria-describedby="ResultAway-error">
                                            </p>
                                        }
                                        <p>@m.PlayTime.ToString("yyyy-MM-dd HH:mm")</p>
                                    </div>
                                    <div class="ui-block-c">
                                        <img src="@m.TeamAwayLogo" />
                                        <h2>@m.TeamAwayName</h2>
                                    </div>
                                </div>
                            </fieldset>
                        </a>
                    </li>
                }
            }
        </ul>
    }
</div>