@model Arsenal.Mobile.Models.Casino.RankDto
@{
    ViewBag.Title = Model.ContestLeague.LeagueNameInfo + " 博彩排行榜";
}

@section Scripts {
    <script type="text/javascript">
        $(document).on("pageinit", "#page", function () {
            $(".rank .icon").each(function (i, entry) {
                $(entry).html($(entry).attr("data-icon"));
            });
        });
    </script>
}

<div data-role="content">
    <p>
        <b>入围条件：投注场次 >= @Model.RankCondition[0] ，投注量 >= @(Model.RankCondition[1].ToString("N0"))，RP >= @(Model.RankCondition[2])</b>
    </p>
    @if (Model.ContestLeague != null && (Model.UpperGamblers != null || Model.LowerGamblers != null))
    {
        <ul data-role="listview" data-inset="true">
            @if (Model.UpperGamblers != null && Model.UpperGamblers.Any())
            {
                <li data-role="list-divider">
                    上半区排行榜
                    <span class="ui-li-count">@Model.UpperGamblers.Count()</span>
                </li>
                foreach (var m in Model.UpperGamblers)
                {
                    @Html.Partial("Casino/_GamblerDWInfoPartial", m)
                }
            }
            @if (Model.LowerGamblers != null && Model.LowerGamblers.Any())
            {
                <li data-role="list-divider">
                    下半区排行榜
                    <span class="ui-li-count">@Model.LowerGamblers.Count()</span>
                </li>
                foreach (var m in Model.LowerGamblers)
                {
                    @Html.Partial("Casino/_GamblerDWInfoPartial", m)
                }
            }
        </ul>
    }
</div>

